---
layout: default
---

<div class="home-container">

    <div class="post-grid-container {% if paginator.page == 1 %}has-featured-post{% endif %}">
        {% for post in paginator.posts %}
        <a href="{{ post.url | relative_url }}" class="post-card">
            <div class="post-image-container">
                <img src="{{ post.image | default: '/assets/images/placeholder.jpg' | relative_url }}"
                     alt="{{ post.title }}">
            </div>
            <div class="post-content">
                <h3>{{ post.title }}</h3>
                <p>{{post.description}}</p>
                <div class="post-meta">
                    <span>
                        {% assign m = post.date | date: "%-m" | minus: 1 %}
                        den {{ post.date | date: "%-d" }} {{ site.data.sv_months[m].name }} {{ post.date | date: "%Y" }}
                    </span>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- Pagination Navigation -->
{% if paginator.total_pages > 1 %}
<nav class="pagination {% if paginator.page == 1 %}is-centered{% endif %}">
    {% if paginator.page == 1 %}
    <a href="{{ paginator.next_page_path }}" class="pagination-button load-more">Fler recept &raquo;</a>
    {% else %}
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-button">
        &laquo; Nyare recept
    </a>
    {% else %}
    <span class="pagination-button disabled">&laquo; Nyare recept</span>
    {% endif %}

    <span class="page-number">Sida {{ paginator.page }} av {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-button">
        Äldre recept &raquo;
    </a>
    {% else %}
    <span class="pagination-button disabled">Äldre recept &raquo;</span>
    {% endif %}
    {% endif %}
</nav>
{% endif %}
