<meta name="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

<meta property="og:title" content="{{ page.title | default: site.title | escape }}">
<meta property="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:type" content="article">
{% if page.image %}
<meta property="og:image" content="{{ page.image | absolute_url }}">
{% else %}
<meta property="og:image" content="{{ site.default_image | absolute_url }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ page.title | default: site.title | escape }}">
<meta name="twitter:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
{% if page.image %}
<meta name="twitter:image" content="{{ page.image | absolute_url }}">
{% else %}
<meta name="twitter:image" content="{{ site.default_image | absolute_url }}">
{% endif %}
