:root {
  --font-header: 'Montserrat', sans-serif;
  --font-subheader: 'Allura', cursive;
  --font-body: 'Lato', sans-serif;
}

body {
  font-family: var(--font-body);
  max-width: 1000px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1, h2, h3, h4, h5, h6, .site-title {
  font-family: var(--font-header);
}
