// _sass/_print.scss

// These styles are only applied when printing the page.
@media print {

  // 1. Hide non-essential elements to save ink and paper.
  header {
    display: none !important;
  }
  footer {
    display: none !important;
  }
  .share-button {
    display: none !important;
  }
  .recipe-attribution {
    display: none !important;
  }
  .recipe-notes {
    display: none !important;
  }
  .recipe-image {
    display: none !important;
  }


  // 2. Reset base styles for a clean print layout.
  body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'serif' !important;
    font-size: 14pt;
    color: #000;
    background: #fff;
  }

  // 3. Optimize recipe layout for printing.
  .recipe {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    box-shadow: none;

    h1 {
      font-size: 18px;
      margin: 0;
      padding: 0;
    }
  }

  .recipe-body {
    grid-template-columns: 1fr; // Stack ingredients and instructions
    gap: 2rem;
  }

  .recipe-notes {
    background-color: transparent;
  }

  .ingredient-list {
    column-count: 2;
    break-inside: avoid;
    page-break-inside: avoid; // For older browser compatibility
  }

  .ingredient-item {
    padding: 0;
    margin-left: 1rem;
  }

  .instructions {
    break-inside: avoid;
    page-break-inside: avoid; // For older browser compatibility
  }


  .instructions li {
    margin-bottom: 0;
    line-height: 1.2;
  }



  // 4. Ensure links are visible and styled for print.
  a {
    color: #000 !important;
    text-decoration: underline !important;
  }
}
