---
layout: default # Assumes you have a default layout with the <head> and <body> tags
---

<article class="recipe">

    <h1>{{ page.title }}</h1>
    <p class="description">{{ page.description }}</p>
    <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" class="recipe-image">

    <div class="recipe-body">
        <div class="ingredients">
            <h2>Ingredienser</h2>
            <ul class="ingredient-list">
                {% for group in page.ingredients %}
                {% if group.section %}
                <li class="ingredient-subheader">{{ group.section }}</li>
                {% for item in group.items %}
                <li class="ingredient-item">{{ item.quantity }} {{ item.name }}</li>
                {% endfor %}
                {% else %}
                <li class="ingredient-item">{{ group.quantity }} {{ group.name }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="instructions">
            <h2>Gör så här</h2>
            <ol>
                {% for step in page.instructions %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="recipe-notes">
        {{ content }}
    </div>

</article>
